@import url("./author.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #df9a57;
  --primary-tones: #d07b28;
  --primary-tones-2: #3a2810;
  --accent: #df9a57;
  --border: #4d4d4d;
  --border-subtile: #252525;
  --card: rgba(45, 45, 45, 0.5);
  --card-2: #131313;
  --body: #070707;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  background-color: var(--body);
}

:root {
  --space4: 4px;
  --space8: 8px;
  --space12: 12px;
  --space16: 16px;
  --space24: 24px;
  --space32: 32px;
  --space48: 48px;
  --space64: 64px;
  --space96: 96px;
  --space128: 128px;
}

:root {
  --h1: clamp(59px, 7.6vw, 76px);
  --h2: clamp(49px, 6.1vw, 61px);
  --h3: clamp(41px, 4.8vw, 48px);
  --h5: clamp(28px, 3.1vw, 31px);
  --p: clamp(16px, 2vw, 20px);
}

:root {
  --font-regular: Author-Regular;
  --font-medium: Author-Medium;
  --font-semibold: Author-Semibold;
  --font-bold: Author-Bold;
  font-family: Author-Variable;
}

h1 {
  font-size: var(--h1);
  font-family: var(--font-bold);
}
h2 {
  font-size: var(--h2);
  font-family: var(--font-semibold);
}

h3 {
  font-size: var(--h3);
  font-family: var(--font-medium);
}
h5 {
  font-size: var(--h5);
  font-family: var(--font-regular);
}
p {
  font-size: var(--p);
  font-family: "Inter", sans-serif;
  /* font-family: var(--font-regular); */
}

a {
  font-family: var(--font-medium);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 10px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  padding: var(--space24);
  border-radius: 5px;
  border: 1px solid var(--border);
  z-index: 2;
}

.nav-links li {
  margin-right: var(--space24);
}

.nav-links a:not(.contact-btn),
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: var(--p);
  font-weight: 400;
  position: relative;
  transition: all ease 0.3s;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.span-logo {
  color: var(--primary);
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: var(--primary);
  height: 2px;
  width: 0;
  transition: all ease 0.3s;
}

.nav-links a:not(.contact-btn):hover {
  color: var(--primary);
}
.nav-links a:not(.contact-btn):hover::before {
  width: 100%;
}

.contact-btn {
  position: relative;
}

.contact-btn {
  text-decoration: none;
  font-size: var(--p);
  font-weight: 500;
  position: relative;
  transition: all ease 0.3s;
}

.button-contact {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #000;
  text-align: center;
  background-color: rgba(255, 211, 154, 0.3);
  border-radius: 5px;
  padding: 12px 24px;
  transition: all 0.3s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button-contact:hover {
  text-decoration: none;
  transform: translate(0.5rem, 0.5rem);
}

.button_bg-grad-contact {
  z-index: -2;
  background-color: var(--accent);
  background-position: 0 0;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

/* Hero */

.hero-section {
  min-height: 100vh; /* fallback pentru browsere vechi */
  min-height: 100dvh;
}

.hero-wrapper h1 {
  text-align: center;
}

.hero-left {
  margin-top: var(--space16);
  max-width: 500px;
}

.hero-wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--space32);
}

.hero-wrapper h1 {
  color: #fff;
}

.hero-left p {
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
}

.hero-right img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
  border: 0.5px solid var(--border-subtile);
}

.first-hero-img {
  transform: translate(100px, 50px);
}

.hero-btns {
  display: flex;
  flex-direction: column;
}

.hero-btns a {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--p);
  border-radius: 5px;
  margin-top: var(--space24);
}

.view-services-btn {
  border: 1px solid var(--primary);
  padding: 16px 32px;
  color: #fff;
  transition: all ease 0.3s;
}

.view-services-btn:hover {
  background-color: var(--primary);
  color: #000;
}

.make-a-reservation-btn {
  position: relative;
}

.button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #000;
  text-align: center;
  background-color: rgba(255, 211, 154, 0.3);
  border-radius: 5px;
  padding: 16px 32px;
  transition: all 0.3s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button:hover {
  text-decoration: none;
  transform: translate(0.5rem, 0.5rem);
}

.button_bg-grad {
  z-index: -2;
  background-color: var(--accent);
  background-position: 0 0;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

@media screen and (max-width: 1337px) {
  .first-hero-img {
    transform: translate(0px, 0px) !important;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-right img {
    width: 200px;
    height: 400px;
  }

  .hero-wrapper {
    min-height: 100dvh;
    height: auto;
    padding: var(--space128) 0;
  }
}

@media screen and (max-width: 700px) {
  .hero-section {
    padding: var(--space64) var(--space24);
  }
  .hero-right img {
    width: 95%;
    height: 300px;
  }
  .hero-wrapper {
    min-height: 100dvh;
    height: auto;
    padding: var(--space64) 0;
  }
  .hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space24);
  }
  .nav-links {
    display: none;
  }
  nav {
    width: 95%;
  }
}

/* Services Section */

.services-section,
.price-section,
.gallery-section {
  padding: var(--space96) 0;
  position: relative;
}

.services-section {
  background: url(/Images/card/silk-1789742830786.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: block;
}

.services-text h2,
.price-text h2,
.services-text p,
.price-text p,
.gallery-text h2,
.gallery-text p {
  color: #fff;
}

.services-text,
.price-text,
.gallery-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desc-services,
.desc-price,
.desc-gallery {
  max-width: 500px;
}

.services-text p,
.price-text p,
.gallery-text p {
  line-height: 1.6;
}

.services-content {
  margin-top: var(--space64);
}

.service-card-front-wrapper,
.service-card-back-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space32);
}

.service-card-back-wrapper {
  margin-top: var(--space32);
}

.s4 {
  grid-row-start: 2;
}

.s5 {
  grid-row-start: 2;
}

.s6 {
  grid-row-start: 2;
}

.service-card-after {
  /* background-color: var(--card); */
  border: 0.5px sold var(--border);
  border-radius: 5px;
  padding: 24px 48px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  max-width: 500px;
  height: 400px;
  position: relative;
  transition: all ease 0.3s;
  background-color: #8787871a;
}

.service-card-after:hover {
  background-color: #87878730;
}

.service-card-after svg {
  width: 45px;
  height: 45px;
  color: var(--primary);
}

.service-card {
  /*  
  border: 0.5px sold var(--border);
  border-radius: 5px;
  background-color: var(--primary-tones-2);
  padding: 24px 48px;
  width: 500px;
  height: 400px;
  */
  z-index: 1;
  position: relative;
}

.service-card h3 {
  margin-top: var(--space12);
  color: #fff;
}

.service-card p {
  margin-top: var(--space12);
  color: #fff;
  line-height: 1.6;
}

@media screen and (max-width: 1400px) {
  .service-card-front-wrapper,
  .service-card-back-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space32);
  }
}

@media screen and (max-width: 700px) {
  .services-text,
  .price-text,
  .gallery-text {
    display: flex;
    flex-direction: column;
  }
  .services-text p,
  .price-text p,
  .gallery-text p {
    margin-top: var(--space12);
  }
  .services-section,
  .price-section,
  .gallery-section {
    padding: var(--space64) var(--space24);
  }
}

/* Price Section */

.price-card h3 {
  color: #fff;
  margin-left: var(--space24);
}

.price-card p {
  color: var(--primary);
  font-family: var(--font-medium);
  font-size: var(--h3);
  margin-right: var(--space24);
}

@media screen and (max-width: 700px) {
  .price-card p,
  .price-card h3 {
    font-size: var(--h5);
  }
}

.price-wrapper {
  margin-top: var(--space64);
}

.price-card {
  margin-top: var(--space32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid var(--border);
  border-bottom: 0.5px solid var(--border);
  padding: 16px;
  transition: all ease 0.3s;
  position: relative;
}

.price-card:hover {
  border-top-color: var(--primary-tones-2);
  border-bottom-color: var(--primary-tones-2);
}

.price-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/Images/card/silk-1789742830786.png");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: -1;
}

.price-card:hover::before {
  opacity: 1;
}

.line {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  width: 20%;
  height: 3px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Gallery Section */

.gallery-section {
  background: url(./Images/background-gallery/silk-1789753839061.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: block;
}

.gallery-image img {
  width: 400px;
  height: 600px;
  border-radius: 5px;
  object-fit: cover;
  border: 0.5px solid var(--border-subtile);
}

.gallery-image {
  transition: all ease 0.3s;
}

.gallery-wrapper {
  margin-top: var(--space64);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space32);
}

.gallery-image img {
  transform: translateX(-50px);
}

.g-1 {
  transform: rotate(-5deg);
}

.g-3 {
  transform: rotate(5deg);
}

.gallery-image:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1510px) {
  .gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center !important;
    gap: var(--space32);
  }
  .gallery-image img {
    width: 300px;
    height: 500px;
  }

  .g-1 {
    transform: rotate(0deg);
  }

  .g-3 {
    transform: rotate(0deg);
  }
  .gallery-image img {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space24);
  }
  .gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
